#vkw .card {
  &__image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }
  &__caption {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.5;
  }
}